

.icon-facebook,
.icon-instagram-new,
.icon-github,
.icon-linkedin
 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

.icon-facebook>svg,
.icon-instagram-new>svg,
.icon-github>svg,
.icon-linkedin>svg
 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}



.card {
  width: 10ch;
  height: 10ch;
  background: transparent;
  border-radius: 1px;
  background-size: cover;
  background-position: center center;
  background-image: url('./Icons/icons8-github-100.png');
  transition: box-shadow 0.5s;
  will-change: transform;
}




.trails-main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 99px;
    cursor: default;
    justify-content: left;
    text-align: left;
    padding-left: 20px;
  }

  .trails-text {
    font-family: Arial;
    position: relative;
    width: 100%;
    height: 8rem;
    line-height: 80px;
    color: white;
    font-size: 9rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
    will-change: transform, opacity;
    overflow: hidden;
    text-shadow: 1px 1px 5px whitesmoke;


  }

  @media only screen and (max-width: 40em) {
    .trails-text {
      font-size: 5rem;
      height: fit-content;
      line-height: 5rem;
      text-align: left;
    }
    .trails-main {
      padding-left: 0px;
    }

  }

  .trails-text > div {
    overflow: hidden;
  }


  .tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    text-align: center;
  }

  .tab-list-item {
    font-size: 0.9em;
    color: white;
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
  }




  .tab-list-active {
    background-color: white;
    color: black;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }

  .tab-content{
    height: 390;
    width: 260;
  }
